body {
    margin: 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page {
    width: 100%;
    height: 100%;
}


.mdc-dialog .full-page-dialog.mdc-dialog__surface {
    width: 100vw;
    height: 100%;
    max-height: 100% !important;
    max-width: 100% !important;
}

.mdc-dialog .full-page-dialog .mdc-dialog__content {
    color: unset;
    font-family: unset;
    font-size: unset;
    line-height: unset;
    font-weight: unset;
    letter-spacing: unset;
    text-decoration: unset;
    text-transform: unset;
}

.mdc-dialog .dialog-root-passthrough {
    display: contents;
}


.matching-header-row {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.matching-header {
    display: flex;
}

.matching-header-buttons {
    margin-left: auto;
}

    .matching-header-buttons :not(:last-child) {
        margin-right: 10px;
    }


.table-page-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.loading-spinner-container {
    transform: translate(0, 0);
}

.inline-form-row {
    display: flex;
    align-items: center;
}

    .inline-form-row :not(:last-child) {
        margin-right: 10px
    }


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
}
