body {
    margin: 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page {
    width: 100%;
    height: 100%;
}

.mud-typography-h3 {
    margin-block: 0.5em;
}


.matching-header-row {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.matching-header {
    display: flex;
}

.matching-header-buttons {
    margin-left: auto;
}

    .matching-header-buttons :not(:last-child) {
        margin-right: 10px;
    }


.table-page-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.loading-spinner-container {
    transform: translate(0, 0);
}

.inline-form-row {
    display: flex;
    align-items: center;
}

    .inline-form-row :not(:last-child) {
        margin-right: 10px
    }


@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
}

@media (min-width : 960px) {
    .mud-input-control {
        max-width: 300px;
    }

    .mud-picker .mud-input-control {
        max-width: unset;
    }
}
