@page "/management/orchestrations"

@using CatalogueScanner.ConfigurationUI.Service
@using CurrieTechnologies.Razor.Clipboard
@using Microsoft.Extensions.Logging

@inject ManagementService ManagementService
@inject HttpExceptionHandlingService HttpExceptionHandlingService
@inject ISnackbar Snackbar
@inject TokenProvider TokenProvider
@inject ClipboardService Clipboard

<div class="loading-spinner-container">
    <MudText Typo="Typo.h3" Class="table-page-header">Orchestration Management</MudText>

    <section>
        <EditForm class="inline-form-row" Model="this" OnValidSubmit="LoadCheckStatusEndpoints">
            <MudTextField @bind-Value="instanceId" Label="Instance ID" Required />

            <MudButton ButtonType="ButtonType.Submit">Load Check Status Endpoints</MudButton>
        </EditForm>

        @if (endpoints is not null)
        {
            <MudTable Items="endpoints">
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Value</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>

                <RowTemplate Context="endpoint">
                    <MudTd>@endpoint.Key</MudTd>
                    <MudTd>@endpoint.Value</MudTd>
                    <MudTd>
                        @if (endpoint.Key.Contains("Uri"))
                        {
                            <MudButton OnClick="@(args => CopyPowerShellRequest(endpoint.Key))">Copy PowerShell Request Script</MudButton>
                        }
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
    </section>

    <section>
        <MudButton OnClick=@(args => CleanEntityStorage())>Clean Entity Storage</MudButton>
    </section>

    @if (loading)
    {
        <LoadingSpinner></LoadingSpinner>
    }
</div>