@page "/config/colesonline"

@using CatalogueScanner.Configuration;
@using CatalogueScanner.ColesOnline.Options;
@using Microsoft.Extensions.Options;

@inject IConfigurationSaver<ColesOnlineOptions> ColesOnlineConfigurationSaver;
@inject IOptionsSnapshot<ColesOnlineOptions> ColesOnlineOptionsAccessor;

<section>
    <MudText Typo="Typo.h3">Coles Online</MudText>

    <EditForm Model="ColesOnlineOptions" OnValidSubmit="SaveColesOnlineOptions">
        <MudNumericField Label="Fulfillment Store ID" @bind-Value="ColesOnlineOptions.FulfillmentStoreId">
        </MudNumericField>

        <MudButton ButtonType="ButtonType.Submit">Save</MudButton>
    </EditForm>
</section>

@code {
    private ColesOnlineOptions ColesOnlineOptions => ColesOnlineOptionsAccessor.Value;

    private async Task SaveColesOnlineOptions(EditContext editContext)
    {
        await ColesOnlineConfigurationSaver.SaveAsync((ColesOnlineOptions)editContext.Model);
    }
}
