<MudDialog>
    <TitleContent>Edit Compound Rule</TitleContent>
    <DialogContent>
        <div class="matching-header-row">
            <MudItemSelectList Label="Match Type" Class="match-type" @bind-Value="CompoundRule.MatchType" Items="compoundMatchTypes" />

            <div class="matching-header-buttons">
                <MudButton OnClick="AddSinglePropertyRule" Class="matching-add-single-button">Add Single Property Rule</MudButton>
                <MudButton OnClick="AddCompoundRule" Class="matching-add-compound-button">Add Compound Rule</MudButton>
            </div>
        </div>

        <MatchRuleTable MatchRules="CompoundRule.ChildRules">
        </MatchRuleTable>
    </DialogContent>
    <DialogActions>
        <MudButton @onclick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>
