@page "/config/matching"

@using CatalogueScanner.Configuration;
@using CatalogueScanner.Core.Options;
@using Microsoft.Extensions.Options;

@inject IOptionsSnapshot<MatchingOptions> MatchingOptionsAccessor;
@inject IConfigurationSaver<MatchingOptions> MatchingOptionsSaver;
@inject NavigationManager NavigationManager;

<div class="matching-header-row">
    <MatH3 Class="matching-header table-page-header">Matching Options</MatH3>

    <div class="matching-header-buttons">
        <MatButton OnClick="AddSinglePropertyRule" Class="matching-add-single-button">Add Single Property Rule</MatButton>
        <MatButton OnClick="AddCompoundRule" Class="matching-add-compound-button">Add Compound Rule</MatButton>
        <MatButton Raised="true" Class="matching-save-button" OnClick="Save">Save</MatButton>
    </div>
</div>

<MatchRuleTable MatchRules="matchRuleViewModels"></MatchRuleTable>
