@page "/config/matching"

@using CatalogueScanner.Configuration;
@using CatalogueScanner.Core.Options;
@using Microsoft.Extensions.Options;

@inject IOptionsSnapshot<MatchingOptions> MatchingOptionsAccessor;
@inject IConfigurationSaver<MatchingOptions> MatchingOptionsSaver;
@inject NavigationManager NavigationManager;

<div class="matching-header-row">
    <MudText Typo="Typo.h3" Class="matching-header table-page-header">Matching Options</MudText>

    <div class="matching-header-buttons">
        <MudButton OnClick="AddSinglePropertyRule" Color="Color.Primary" Class="matching-add-single-button">Add Single Property Rule</MudButton>
        <MudButton OnClick="AddCompoundRule" Color="Color.Primary" Class="matching-add-compound-button">Add Compound Rule</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="matching-save-button" OnClick="Save">Save</MudButton>
    </div>
</div>

<MatchRuleTable MatchRules="matchRuleViewModels"></MatchRuleTable>
