@page "/config/salefinder"

@using CatalogueScanner.Configuration;
@using CatalogueScanner.SaleFinder.Options;
@using Microsoft.Extensions.Options;

@inject IConfigurationSaver<ColesOptions> ColesConfigurationSaver;
@inject IOptionsSnapshot<ColesOptions> ColesOptionsAccessor;
@inject IConfigurationSaver<WoolworthsOptions> WoolworthsConfigurationSaver;
@inject IOptionsSnapshot<WoolworthsOptions> WoolworthsOptionsAccessor;
@inject IConfigurationSaver<IgaOptions> IgaConfigurationSaver;
@inject IOptionsSnapshot<IgaOptions> IgaOptionsAccessor;

<section>
    <MudText Typo="Typo.h3">Coles</MudText>

    <EditForm Model="ColesOptions" OnValidSubmit="SaveColesOptions" class="inline-form-row">
        <MudNumericField Variant="Variant.Outlined" Label="Sale Finder Location ID" @bind-Value="ColesOptions.SaleFinderLocationId">
        </MudNumericField>

        <MudButton ButtonType="ButtonType.Submit">Save</MudButton>
    </EditForm>
</section>

<section>
    <MudText Typo="Typo.h3">Woolworths</MudText>

    <EditForm Model="WoolworthsOptions" OnValidSubmit="SaveWoolworthsOptions" class="inline-form-row">
        <MudNumericField Variant="Variant.Outlined" Label="Sale Finder Location ID" @bind-Value="WoolworthsOptions.SaleFinderLocationId">
        </MudNumericField>

        <MudButton ButtonType="ButtonType.Submit">Save</MudButton>
    </EditForm>
</section>

<section>
    <MudText Typo="Typo.h3">IGA</MudText>

    <EditForm Model="IgaOptions" OnValidSubmit="SaveIgaOptions" class="inline-form-row">
        <MudNumericField Variant="Variant.Outlined" Label="Sale Finder Location ID" @bind-Value="IgaOptions.SaleFinderLocationId">
        </MudNumericField>

        <MudButton ButtonType="ButtonType.Submit">Save</MudButton>
    </EditForm>
</section>

@code {
    private ColesOptions ColesOptions => ColesOptionsAccessor.Value;
    private WoolworthsOptions WoolworthsOptions => WoolworthsOptionsAccessor.Value;
    private IgaOptions IgaOptions => IgaOptionsAccessor.Value;

    private async Task SaveColesOptions(EditContext editContext)
    {
        await ColesConfigurationSaver.SaveAsync((ColesOptions)editContext.Model);
    }

    private async Task SaveWoolworthsOptions(EditContext editContext)
    {
        await WoolworthsConfigurationSaver.SaveAsync((WoolworthsOptions)editContext.Model);
    }

    private async Task SaveIgaOptions(EditContext editContext)
    {
        await IgaConfigurationSaver.SaveAsync((IgaOptions)editContext.Model);
    }
}
