@page "/config/salefinder"

@using CatalogueScanner.Configuration;
@using CatalogueScanner.SaleFinder.Options;
@using Microsoft.Extensions.Options;

@inject IConfigurationSaver<ColesOptions> ColesConfigurationSaver;
@inject IOptionsSnapshot<ColesOptions> ColesOptionsAccessor;
@inject IConfigurationSaver<WoolworthsOptions> WoolworthsConfigurationSaver;
@inject IOptionsSnapshot<WoolworthsOptions> WoolworthsOptionsAccessor;

<section>
    <h3>Coles</h3>

    <EditForm Model="ColesOptions" OnValidSubmit="SaveColesOptions">
        <label>
            Sale Finder Location ID:
            <InputNumber @bind-Value="ColesOptions.SaleFinderLocationId"></InputNumber>
        </label>

        <button type="submit">Save</button>
    </EditForm>
</section>

<section>
    <h3>Woolworths</h3>

    <EditForm Model="WoolworthsOptions" OnValidSubmit="SaveWoolworthsOptions">
        <label>
            Sale Finder Location ID:
            <InputNumber @bind-Value="WoolworthsOptions.SaleFinderLocationId"></InputNumber>
        </label>

        <button type="submit">Save</button>
    </EditForm>
</section>


@code {
    private ColesOptions ColesOptions => ColesOptionsAccessor.Value;
    private WoolworthsOptions WoolworthsOptions => WoolworthsOptionsAccessor.Value;

    private async Task SaveColesOptions(EditContext editContext)
    {
        await ColesConfigurationSaver.SaveAsync((ColesOptions)editContext.Model);
    }

    private async Task SaveWoolworthsOptions(EditContext editContext)
    {
        await WoolworthsConfigurationSaver.SaveAsync((WoolworthsOptions)editContext.Model);
    }
}
