@page "/config/salefinder"

@using CatalogueScanner.Configuration;
@using CatalogueScanner.SaleFinder.Options;
@using Microsoft.Extensions.Options;

@inject IConfigurationSaver<ColesOptions> ColesConfigurationSaver;
@inject IOptionsSnapshot<ColesOptions> ColesOptionsAccessor;
@inject IConfigurationSaver<WoolworthsOptions> WoolworthsConfigurationSaver;
@inject IOptionsSnapshot<WoolworthsOptions> WoolworthsOptionsAccessor;
@inject IConfigurationSaver<IgaOptions> IgaConfigurationSaver;
@inject IOptionsSnapshot<IgaOptions> IgaOptionsAccessor;

<section>
    <MatH3>Coles</MatH3>

    <EditForm Model="ColesOptions" OnValidSubmit="SaveColesOptions">
        <MatNumericUpDownField Label="Sale Finder Location ID" @bind-Value="ColesOptions.SaleFinderLocationId">
        </MatNumericUpDownField>

        <MatButton Type="submit">Save</MatButton>
    </EditForm>
</section>

<section>
    <MatH3>Woolworths</MatH3>

    <EditForm Model="WoolworthsOptions" OnValidSubmit="SaveWoolworthsOptions">
        <MatNumericUpDownField Label="Sale Finder Location ID" @bind-Value="WoolworthsOptions.SaleFinderLocationId">
        </MatNumericUpDownField>

        <MatButton Type="submit">Save</MatButton>
    </EditForm>
</section>


<section>
    <MatH3>IGA</MatH3>

    <EditForm Model="IgaOptions" OnValidSubmit="SaveIgaOptions">
        <MatNumericUpDownField Label="Sale Finder Location ID" @bind-Value="IgaOptions.SaleFinderLocationId">
        </MatNumericUpDownField>

        <MatButton Type="submit">Save</MatButton>
    </EditForm>
</section>

@code {
    private ColesOptions ColesOptions => ColesOptionsAccessor.Value;
    private WoolworthsOptions WoolworthsOptions => WoolworthsOptionsAccessor.Value;
    private IgaOptions IgaOptions => IgaOptionsAccessor.Value;

    private async Task SaveColesOptions(EditContext editContext)
    {
        await ColesConfigurationSaver.SaveAsync((ColesOptions)editContext.Model);
    }

    private async Task SaveWoolworthsOptions(EditContext editContext)
    {
        await WoolworthsConfigurationSaver.SaveAsync((WoolworthsOptions)editContext.Model);
    }

    private async Task SaveIgaOptions(EditContext editContext)
    {
        await IgaConfigurationSaver.SaveAsync((IgaOptions)editContext.Model);
    }
}
